.text-center {
    text-align: center;
  }
  
  .btn-success {
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  
  .btn-success:hover {
    background-color: #28a745;
    opacity: 0.8;
  }
  